# app 
JWT_SECRET=
PG_URL=
REDIS_URL=

# supabase config
SUPABASE_URL=
SUPABASE_ANON_KEY=

GEN_AI_API_KEY=
STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=

LOKI_TRANSPORT=http://localhost:3100
NODE_ENV=development

KAFKA_BROKER=192.168.31.212:9092

HOST_BASE_PATH=